.container {
  max-width: 1140px;
  margin: 180px auto 0 auto;
  min-height: 400px;
  h1 {
    color: $gold;
    animation: opacity 1s;
  }
  .section1 {
    background: linear-gradient(
      90deg,
      rgb(207 212 240) 9%,
      rgb(218 224 242) 70%
    );
    padding: $spacing2 $spacing2 $spacing2 3rem;
    border-radius: 10px;
    position: relative;
    box-shadow: 1px 1px 5px #bababa;
    max-width: 900px;
    margin: 0 auto;
    .topTitle {
      font-weight: 200;
      font-size: 1.5rem;
    }
    .anelli {
      position: absolute;
      top: 50%;
      left: -15px;
      z-index: 100;
      width: 45px;
      height: auto;
      transform: translateY(-50%);
    }
  }
  .section2 {
    padding: $spacing2;
    max-width: 900px;
    margin: 0 auto;
    p {
      line-height: 1.7;
    }
    p:first-child:first-letter {
      font-size: 6rem;
      font-weight: 700;
      color: $gold;
      font-family: $title;
      position: relative;
      line-height: 1;
    }
  }
  h2 {
    font-size: $size-title;
  }
  h3 {
    font-size: 1.2rem;
    color: $gold;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
