.container {
  max-width: 900px;
  margin: 180px auto 0 auto;
  min-height: 400px;
  @media #{$landscape} {
    padding-left: $spacing1;
    padding-right: $spacing1;
  }
  h1 {
    text-align: center;
    color: $gold;
  }

  form {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    gap: $spacing1;
    @media #{$tablet} {
      flex-direction: column;
    }
    button {
      height: 50px;
    }
    .searchField {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: $spacing1;
      flex: 1;

      input[name="search"] {
        border: 0;
        background-color: $lightGrey;
        height: 50px;
        width: 100%;
        padding-left: $spacing1;
        font-size: 1rem;
      }
    }
    .searchNome {
      display: flex;
      width: 100%;
      gap: 1rem;
      @media #{$tablet} {
        flex-direction: column;
      }
      input {
        flex: 1;
        border: 0;
        background-color: $lightGrey;
        height: 50px;
        padding-left: $spacing1;
        font-size: 1rem;
        @media #{$tablet} {
          flex: none;
        }
      }
    }
    .filterBox {
      display: flex;
      align-items: center;
      gap: $spacing1;
      .filter {
        display: flex;
        align-items: center;
        font-weight: 200;
      }
    }
  }
}
.defaultData {
  padding-top: 2rem;
  margin-top: 2rem;
  > h2 {
    color: black;
    font-size: $size-title/1.5;
    font-family: $text;
    margin: 0 0 1rem 0;
  }
}
