.container {
  max-width: 1140px;
  margin: 180px auto 0 auto;
  min-height: 400px;
  gap: $spacing2;
  .heading {
    margin-bottom: $spacing3;
    h1 {
      margin-bottom: 0;
      color: $gold;
    }
    p {
      padding: $spacing1;
    }
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .left,
  .right {
    flex: 1;
  }
  ul {
    .lettera {
      font-family: $title;
      font-size: $size-title;
      color: $gold;
    }
    li {
      font-size: $size-p;
      a {
        color: black;
        text-decoration: none;
        font-weight: 200;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
