.swiper__container {
  margin: $spacing4 auto;
  @media #{$landscape} {
    margin: $spacing1 auto;
  }
}
.swiper {
  width: 100%;
  max-width: 1200px;
  .imagePreload__loader {
    border-radius: 50%;
    overflow: hidden;
    z-index: -1;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    p {
      font-size: 20px;
    }
    &__citazione {
      p {
        text-align: justify;
        font-size: 1.3rem;
        font-weight: 300;
        margin-bottom: 1rem;
        max-width: 600px;
        font-style: italic;
        line-height: 1.5;
        @media #{$tablet} {
          font-size: 1rem;
        }
      }
    }
    &__nome {
      font-size: 3rem;
      font-family: var(--font-inter);
      color: $gold;
      line-height: 1;
      a {
        color: $gold;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__titolo {
      font-size: 2rem;
      font-family: var(--font-inter);
      color: $gold;
    }
  }
}

.swiper-slide {
  display: flex;
  gap: $spacing2;
  justify-content: center;
  @media #{$tablet} {
    flex-direction: column;
    align-items: center;
    padding: 0 $spacing2;
    gap: $spacing1;
    text-align: center;
  }
}

.swiper-slide img {
  display: block;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;

  @media #{$desktop} {
    width: 250px;
    height: 250px;
  }
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 5rem;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  font-weight: 100;
}
