.wrappertemi {
  max-width: 1040px;
  margin: 0 auto $spacing3 auto;
  position: relative;
  > img {
    display: block;
    position: relative;
    top: 3px;
  }
}
.temi {
  border-radius: 20px;
  background-color: rgba(247, 247, 247, 1);
  position: relative;
  display: inline-block;
  transform-origin: left;
  margin-top: $spacing2;
  p {
    font-size: 16px;
  }
  .anelli {
    position: absolute;
    top: 50%;
    left: -15px;
    z-index: 100;
    width: 45px;
    height: auto;
    transform: translateY(-50%);
  }
  > h2 {
    font-size: $size-p * 1.3;

    color: #7a4535;
    margin: 2rem 3rem 0 4rem;

    font-family: $text;
  }
  &__box {
    padding: 0 3rem 0 4rem;

    > h2 {
      font-size: $size-title;
    }
  }
  &__autrici {
    margin-top: $spacing2;
    padding-top: $spacing2;
    padding-left: $spacing2;
    padding-right: $spacing2;
    border-top: 1px dashed $gold;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    &__box {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex: 1 1;
      gap: 1rem;
      align-items: center;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
      &__text {
        flex: 1 1;
        h3 {
          font-family: $title;
          margin: 0;
          font-size: $size-title/2;
          color: $gold;
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
        }
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $spacing2;
  }
}
.link {
  margin-top: $spacing2;
  text-align: right;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  font-weight: 500;
  a {
    color: black;
    text-decoration: none;
  }
}
