.footer {
  position: relative;
  width: 100%;
  background-color: $darkGrey;
  color: white;
  text-align: center;
  padding: 0rem 0rem 4rem 0rem;
  justify-items: center;
  align-items: end;
  font-size: 19px;
  gap: 2rem;
  font-weight: 200;
  a,
  a:hover {
    color: white;
    text-decoration: none;
  }
  .patrocinio {
    width: 100%;
    background-color: white;
    padding-top: $spacing3;
    padding-bottom: $spacing3;
    h2 {
      font-size: $size-title;
      color: $gold;
    }
    img {
      width: 100%;
      max-width: 1050px;
      margin: 0 auto;
      height: auto;
    }
  }
  &__nav {
    font-family: $title;
    font-size: $size-title/1.5;
    text-align: left;
    justify-self: center;
  }
  &__first {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    padding: $spacing3 $spacing1;
    @media #{$tablet} {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
    @media #{$phone} {
      grid-template-columns: 1fr;
    }
    p {
      color: white;
      font-size: 1rem;
    }
    ul {
    }
    img {
      margin-bottom: 1rem;
    }
  }
}
