.home {
  margin-top: 0;
  &__content {
    margin: $spacing1 auto $spacing4 auto;
    @media #{$landscape} {
      margin: $spacing4/2 auto;
    }
  }
}
.section1 {
  text-align: center;
  h1 {
    color: $gold;
  }
}
.section4 {
  background-color: $lightGrey;
  @media #{$tablet} {
    background-color: white;
  }
}
