.home {
  margin-top: 0;
  &__content {
    margin: $spacing1 auto $spacing4 auto;
    @media #{$landscape} {
      margin: $spacing1 auto;
    }
  }
}
.section1 {
  text-align: center;
  @media #{$desktop} {
    padding: 0 $spacing1;
  }
  @media #{$phone} {
    padding: 0;
  }
  h1 {
    color: $gold;
  }
}
.section2 {
  background-color: #f1eeee;
}
.section4 {
  background-color: $lightGrey;
  @media #{$tablet} {
    background-color: white;
  }
}
