.home {
  margin-top: 0;
  &__content {
    margin: $spacing1 auto $spacing4 auto;
    @media #{$landscape} {
      margin: $spacing4/2 auto;
    }
  }
}
.section1 {
  text-align: center;
  h1 {
    color: $gold;
  }
}
.section2 {
  background-color: #f1eeee;
}
.section4 {
  background-color: $lightGrey;
  @media #{$tablet} {
    background-color: white;
  }
}
.loading {
  position: relative;
  background-color: $gold;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: $spacing2;
  align-items: center;
  justify-content: center;
  color: white;
  img {
    animation: jumping 4s infinite;
  }
}
@keyframes jumping {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
