.header {
  position: absolute;
  padding: 1rem;
  top: 0;
  z-index: 200;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  @media #{$landscape} {
    position: relative;
  }
  &.page {
    position: absolute;
    .navMobile {
      .burger {
        color: $gold;
      }
    }
    div ul li a {
      color: $gold;
      &:hover {
        color: $gold;
      }
    }
    .title {
      .mainTitle {
        color: $gold;
      }
    }
  }
  &.scrolling {
    background-color: $goldTransparent;
    position: fixed;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    animation: fromTop 1s ease-in-out;
    padding: 0 3rem;
    .navMobile {
      ul li a {
        color: $blue;
        &:hover {
          color: $blue;
        }
      }
    }
    .burger {
      color: white;
    }
    img {
      width: 200px;
      height: auto;
    }
    div ul li a {
      color: white;
      &:hover {
        color: white;
      }
    }
    .mainNavBar {
      padding: 1rem 0 1rem 0;
    }
  }
  &__home {
    background: linear-gradient(rgb(3, 17, 33) 7%, rgb(50 92 175 / 0%) 100%);
    .mainNavBar {
      padding-bottom: 5rem;
      a {
        &:hover {
          color: white;
          text-decoration: underline;
        }
      }
    }
    .mainNavBar__navBlock__topData {
      a {
        color: white;
        &:hover {
          color: white;
        }
      }
    }
  }
  .mainNavBar {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-inter);
    padding: 0 2rem;
    color: white;
    font-size: $size-navbar;
    font-weight: 700;
    align-items: center;
    gap: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    letter-spacing: 1px;
    @media #{$desktop} {
      font-size: 13px;
    }
    @media #{$tablet} {
      padding: 0;
    }

    &__logo {
      .title {
        font-size: 70px;
        font-weight: 300;
        letter-spacing: -1px;
        color: white;
        text-decoration: none;
        font-family: var(--font-inter);
        line-height: 1;
        @media #{$landscape} {
          color: $gold;
          font-size: 60px;
        }
        .mainTitle {
          margin-bottom: 0;
          line-height: 0.9;
        }
        span {
          margin-top: 0;
          display: block;
          font-size: 32px;
          line-height: 1;
          text-align: right;
          font-weight: 200;
          letter-spacing: 0px;
          @media #{$tablet} {
            text-align: left;
          }
        }
        &__scrolling {
          font-size: $size-title-big / 1.3;
          span {
            font-size: 20px;
          }
        }
      }
      img {
        width: 300px;
        display: block;
        @media #{$tablet} {
          width: 200px;
          height: auto;
        }
      }
    }
    &__home {
      ul li a {
        color: white;
      }
    }
    &__inner {
      hr {
        background-color: $navyBlue;
      }
      ul li a {
        color: white;
        font-size: 1.8rem;
        letter-spacing: 0;
      }
      .mainNavBar__navBlock__topData {
        color: $navyBlue;
      }
    }

    &__navBlock {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      hr {
        width: 100%;
        border: rgba(255, 255, 255, 0.262) 1px solid;
      }
      &__topData {
        text-transform: uppercase;
        @media #{$landscape} {
          display: none;
        }
      }
      &__nav {
        display: flex;
        gap: 15px;
        position: relative;

        .hasSub {
          padding-bottom: 1rem;
          &:hover {
            .subNav {
              opacity: 1;

              height: auto;
              transition: opacity ease-in-out 0.3s;
              pointer-events: all;
            }
          }
        }
        .subNav {
          position: absolute;
          overflow: hidden;
          pointer-events: none;
          padding: 0.5rem;
          width: 100%;
          top: 25px;
          opacity: 0;
          transition: opacity ease-in-out 0.3s;
          background-color: rgba(0, 0, 0, 0.8);

          li {
            padding: 0.3rem 0;
            cursor: pointer;
            &:hover {
              a {
                text-decoration: underline;
              }
            }
            a {
              white-space: nowrap;
              padding-left: 1rem;
              color: white;
              font-size: 1rem;
            }
          }
        }
        a {
          text-decoration: none;

          font-weight: 700;
          letter-spacing: 1px;
          &:hover {
            color: white;
            text-decoration: underline;
          }
        }
        @media #{$landscape} {
          display: none;
        }
      }
    }
  }
  .burger {
    display: none;
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    &__inner {
      color: $navyBlue;
    }
    @media #{$landscape} {
      display: block;
      color: $gold;
    }
  }
  .navMobile {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2rem;
    flex-direction: column;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: normal;
    z-index: 100;

    li {
      a {
        font-weight: normal;
        text-decoration: none;
        color: $blue;
      }
    }
    .hasSub {
      &:hover {
        .subNav {
          opacity: 1;
          height: auto;
          padding: 1rem;
        }
      }
    }
    &__close {
      color: $blue;
      margin-bottom: 1rem;
    }
    .subNav {
      overflow: hidden;
      height: 0;
      opacity: 0;
      margin: 0;

      li {
        padding: 0;

        cursor: pointer;
        a {
          white-space: nowrap;
          padding-left: 1rem;
          color: white;
          font-weight: normal;
          font-size: 1.1rem;
        }
      }
    }
    ul {
      margin: 1rem 0;
      text-align: center;
      li {
        margin: 1rem 0;
      }
    }
    &__generic {
      font-size: 1rem;
      padding: 1rem;
      text-align: center;
    }
    a {
      color: white;
      text-decoration: underline;
    }
    .activeLink {
      background-color: $navyBlue;
      padding: 0rem 1rem 0.2rem 1rem;
    }
  }
  .activeLink {
    border-bottom: 1px solid $navyBlue;
  }
}

@keyframes fromTop {
  from {
    top: -170px;
  }
  to {
    top: 0;
  }
}
