.container {
  max-width: 1140px;
  margin: 180px auto 0 auto;
  min-height: 400px;

  @media #{$landscape} {
    padding-left: $spacing1;
    padding-right: $spacing1;
  }
  .eventi {
    margin-top: $spacing2;
  }
  .evento {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    @media #{$tablet} {
      flex-direction: column;
      margin-bottom: $spacing2;
    }
    img {
      position: relative;
      width: 150px;
      height: 150px;
      z-index: 100;
      border-radius: 50%;
      object-fit: cover;
      z-index: 100;
    }
    .text {
      flex: 1;
    }
  }

  h2 {
    margin-bottom: 0;
    font-size: $size-title/1.6;
    span {
      display: inline-block;
      width: auto;
      font-size: 15px;
      font-weight: 300;
      background-color: #f1f0f0;
      padding: 5px;
      border-radius: 5px;
      font-family: var(--font-text);
      margin-bottom: 5px;
    }
    a {
      display: block;
      color: $gold;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  p {
    margin: 0;
  }
  ul {
    display: flex;

    li:first-child::after {
      content: "/";
      width: 1px;
      height: 100%;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
