.container {
  max-width: 1140px;
  margin: 180px auto 0 auto;
  min-height: 400px;
  display: grid;
  grid-template-columns: minmax(400px, 759px) minmax(300px, 350px);
  gap: $spacing3;
  @media #{$landscape} {
    padding-left: $spacing1;
    padding-right: $spacing1;
  }
  @media #{$tablet} {
    grid-template-columns: 1fr;
    margin: 200px auto 0 auto;
  }
  .header {
    padding-bottom: $spacing1;
  }
  h1 {
    color: $gold;
    text-align: right;
    margin-bottom: 0;
    font-size: $size-title-big;
    @media #{$tablet} {
      text-align: center;
      line-height: 1;
      margin-bottom: 0.5rem;
      font-size: $size-title;
    }
  }
  .data {
    margin-top: 10px;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    font-family: $title;
    font-size: $size-title;
    color: $gold;
    line-height: 0.5;
    li {
      span {
        font-size: 24px;
      }
    }
    li:first-child::after {
      content: " - ";
    }
    @media #{$tablet} {
      justify-content: center;
    }
  }
  .mainText {
    text-align: justify;
    text-align: justify;
    padding: 0 0.5rem;
  }
  .dividerH {
    text-align: center;
    margin-top: $spacing2;
    img {
      width: 150px;
    }
  }
  .left {
  }
  .right {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 1.5rem;
    border-top-left-radius: 170px;
    border-top-right-radius: 170px;
    @media #{$tablet} {
      background-color: transparent;
    }
    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover;
      object-position: top;
      @media #{$landscape} {
        width: 200px;
        height: 200px;
      }
    }
  }
  .opere {
    .opera {
      padding-left: 5px;
      &__links {
        border-left: 1px solid #d8d8d8;
      }
      &__link {
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        a {
          background-color: #f2f2f2;
          padding: 5px 10px;
          border-radius: 19px;
        }
      }
      p {
        font-size: 15px;
        margin-bottom: 0.5rem;
      }
      a,
      a:hover,
      a:active,
      a:focus {
        display: flex;
        color: $gold;
        font-size: 15px;
        align-items: center;
        gap: 3px;
      }
    }
    a:first-child {
      @media #{$landscape} {
        margin-bottom: 5px;
      }
    }
    a span {
      font-size: 1.5rem;
      color: #7a4535;
      height: 30px;
    }
    h2 {
      font-size: $size-title/1.2;
    }
    ul {
      li {
        margin: $spacing1 0;
        a {
          text-decoration: none;
          font-weight: 400;
          &:hover {
            text-decoration: underline;
            color: $gold;
          }
        }
      }
    }
    h3 {
      margin: 0;
      font-weight: 300;

      color: $gold;
    }
    p {
      margin: 0;
    }
  }
  .gallery {
    h2 {
      font-size: $size-title/1.2;
    }
  }
  .datiPersonali {
    margin-top: $spacing2;
    padding: 0 $spacing3;
    width: 100%;
    position: sticky;
    top: 100px;
    li {
      margin-bottom: $spacing1;
    }
    &__titolo {
      font-size: $size-title/1.7;
      color: $gold;
      font-family: $title;
      margin-bottom: 0;
    }
    &__dato {
      font-size: $size-title/2.5;
      color: black;
      font-family: $text;
      font-weight: 200;
      margin-bottom: 0;
    }
    .morte span,
    .nascita span {
      font-size: 14px;
    }
  }
}
.fonti {
  margin-top: 2rem;
  padding-left: 5px;
  h2 {
    font-size: $size-title/1.2;
  }
  li h3 {
    font-size: 15px;
    font-weight: 200;
  }
  li a {
    color: $gold;
    h3 {
      font-weight: 400;
    }
  }
}
