.news {
  max-width: 1200px;
  margin: $spacing3 auto;
  @media #{$landscape} {
    padding: 0 $spacing1;
  }
  @media #{$phone} {
    padding: 0;
  }
  > h2 {
    font-size: $size-title;
    letter-spacing: -1;
    color: $gold;
    margin-bottom: 0;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing3;
    justify-content: space-between;
    padding: 0 $spacing1;
    @media #{$landscape} {
      gap: $spacing2;
      flex-direction: column;
      padding: 0;
    }
    &__box {
      flex: 1;

      a {
        color: $gold;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      h3 {
        font-family: $title;
        font-size: $size-title/1.4;
        color: $gold;
        margin-top: $spacing1;
        margin-bottom: 0;
        line-height: 1;
        hyphens: auto;
        overflow-wrap: break-word;
        word-break: break-word;
        white-space: normal;
        max-width: 100%;
      }
      ul {
        display: flex;
        gap: $spacing1/2;
        li {
          font-size: $size-p;
          font-weight: 400;
          &:first-child::after {
            content: "-";
            margin-left: $spacing1/2;
          }
        }
      }
      p {
        margin-top: $spacing1;
      }
    }
  }
}
